body {
    max-width: 1240px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

header{
    margin: auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: greenyellow;
}

.logo{
    width: 50px;
    height: 50px;
    margin: auto;
}

h1{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    text-align: center;
    color: #D04F4F;
}

main{
    background-color: tomato;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
}

.search{
    background: #E7E7E7;
    border-radius: 5px;
    width: 100%;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:0;
    box-sizing: border-box;
}

.search--bar{
    background-color: transparent;
    border:0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin: 0;
    padding-left: 1em;
}

.search--bar::placeholder{
    opacity: 0.25;
}

.search--icon{
    border:0;
    background: url(../../images/search.svg) center center / 70% 70% no-repeat ;
    background-color: transparent;
    width: 32px;
    height: 32px;
    margin-right: 0;
    box-sizing: border-box;
    z-index:11;
}

.tags{    background-color: blueviolet;
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: inline;
}

/*.tags--empty{
    display: none;
}*/

.select{    background-color: orange;
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: inline;
}

.recettes{    background-color: yellow;
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}