$primaryBackground : #FFF;
$secondaryBackground : #E7E7E7;
$imageBackground:#C7BEBE;

$primaryColor: #D04F4F;
$ingredientColor : #3282F7;
$applianceColor : #68D9A4;
$ustensilColor: #ED6454;

$fontDark : #000;
$fontLight : #fff;
