header{
    margin-inline: auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo{
    width: 50px;
    height: 50px;
    margin: auto;
}
h1{
    font-family: 'DM Sans', sans-serif;
    font-size: 36px;
    line-height: 47px;
    text-align: center;
    color: #D04F4F;
    margin-top: 0;
}