.search{
  background: $secondaryBackground;
  border-radius: 5px;
  width: 90%;
  height: 69px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:0;
  box-sizing: border-box;
}
.search--bar{
  background-color: transparent;
  border:0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: $fontDark;
  margin: 0;
  padding-left: 1em;
}
.search--bar::placeholder{
  opacity: 0.25;
}
.search--icon{
  border:0;
  background-color: transparent;
  width: 32px;
  height: 32px;
  margin-right: 5px;
  box-sizing: border-box;
  z-index:11;
}
@media screen and (min-width: 1240px){
  .search{
    width: 100%;
  }
}