.tag{
    min-width: auto;
    max-width: 200px;
    padding:0.5%;
    padding-left : 10px;
    padding-right: 10px;
    margin-right: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    color : $fontLight;
    font-size: 14px;
    & span{
    margin-right: 10px;
    }
    &__principal{
        margin-top: 20px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    &__secondaire{
        width: 100%;
        height: auto;
        display: flex;
    }
    &s{
        width:auto;
        height: auto;
        display: flex;
    }
}